<!DOCTYPE html>

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <div class="navbar navbar-expand-lg bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Introduction à l'IA via les échecs</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8"> <!--the chess board-->
                {% autoescape off %}{{ image }}{% endautoescape %}
            </div>
            <div class="col-md-4"> <!--the history, players and the play buttons-->
                <div class="row"> <!--history-->
                    <ul>
                        {% for move in history %}
                        <li>
                            {{ move }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="row"> <!-- players -->
                    <div class="col-md-10">
                        <div class="row">
                            <a class="col-md-6">BLANC: </a><a class="col-md-6">{{white}}</a>
                        </div>
                        <div class="row">
                            <a class="col-md-6">NOIR: </a><a class="col-md-6">{{black}}</a>
                        </div>
                    </div>
                </div>
                <div class="row"> <!-- play buttons -->
                    <form action="{% url 'play' %}" method="post">
                        {% csrf_token %}

                        <fieldset>
                            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                            {% if current.is_ai %}
                            <div class="col-md-6">
                                <a>Au tour d'une IA</a>
                            </div>
                            {% endif %}
                            {% if not current.is_ai %}
                            <div class="col-mb-6">
                                <label for="move">Coups d'échec: </label>
                                <input type="text" name="move" id="move" value="">
                            </div>
                            {% endif %}
                        </fieldset>
                        <input class="btn btn-secondary w-100" type="submit" value="play">
                    </form>

                </div>
            </div>
        </div>
</body>