<!DOCTYPE html>
<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>

<body>
    <div class="container">
        <div class="navbar navbar-expand-lg bg-body-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Introduction à l'IA via les échecs</a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-3">
                <button class="btn btn-success w-100" onclick="location.href='{% url 'create_game' %}'">New game</button>
            </div>
        </div>
</body>